---
import Header from '../../components/Header.astro'
import Layout from '../../layouts/Layout.astro'
import CardFunctions from './components/CardFunctions.astro'
import CardGrafics from './components/CardGrafics.astro'
import CardMaps from './components/CardMaps.astro'
import Sidebar from './components/Sidebar.astro'
import Slider from './components/Slider'
import TabSlider from './components/TabSlider.jsx'
---

<Layout title='SABI | Mi SABI'>
	<Header />
	<main class='parent max-w-screen'>
		<div class='div1 w-16 hidden sm:block'>
			<Sidebar />
		</div>
		<div class='div2 overflow-x-auto'>
			<Slider client:only />
		</div>
		<div class='div3 block sm:px-[10%] lg:px-4 py-4'>
			<CardGrafics />
			<CardMaps />
		</div>
		<div class='div4 sm:flex justify-center items-start sm:px-[10%] lg:px-4 sm:py-4'>
			<CardFunctions />
		</div>
		<div class='div5 sm:hidden sticky top-0'>
			<TabSlider client:visible />
		</div>
	</main>
	<script src='https://cdn.jsdelivr.net/npm/apexcharts'></script>
</Layout>

<style>
	.parent {
		display: grid;
		grid-template-columns: auto 1fr auto;
		grid-template-rows: repeat(2, auto);
		grid-column-gap: 0;
		grid-row-gap: 0;
	}

	.div1 {
		grid-area: 1 / 1 / 3 / 2;
	}
	.div2 {
		grid-area: 1 / 2 / 2 / 4;
	}
	.div3 {
		grid-area: 2 / 2 / 3 / 3;
	}
	.div4 {
		grid-area: 2 / 3 / 3 / 4;
	}

	@media (max-width: 1023px) {
		.parent {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: repeat(3, auto);
			grid-column-gap: 0px;
			grid-row-gap: 0px;
		}

		.div1 {
			grid-area: 1 / 1 / 4 / 2;
		}
		.div2 {
			grid-area: 1 / 2 / 2 / 3;
		}
		.div3 {
			grid-area: 3 / 2 / 4 / 3;
		}
		.div4 {
			grid-area: 2 / 2 / 3 / 3;
		}
	}

	@media (max-width: 639px) {
		.parent {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: repeat(4, auto);
			grid-column-gap: 0;
			grid-row-gap: 0;
		}

		.div2 {
			grid-area: 1 / 1 / 2 / 2;
		}
		.div5 {
			grid-area: 2 / 1 / 3 / 2;
		}
		.div4 {
			grid-area: 3 / 1 / 4 / 2;
		}
		.div3 {
			grid-area: 4 / 1 / 5 / 2;
		}
	}
</style>
