---
import { GoogleIcon } from '../../../components/icons'

---

<button
	class='w-52 rounded-md bg-white flex gap-2 py-1 items-center justify-center shadow-rounded border border-light-gray'
>
	<GoogleIcon/> <h5 class='text-base font-nunito'>
		Sing in with Google
	</h5>
</button>
