---
import Button from '../../../components/Button.jsx'
import { Toggle } from '../../../components/utilities/Toggle'
---

<section
	class='flex flex-col items-center px-8 py-4 gap-3 w-full lg:w-96 bg-white sm:rounded-md sm:border border-light-gray dark:bg-dark dark:border-dark-gray'
>
	<h2 class='text-sabi font-blinker text-2xl font-semibold'>Funciones</h2>
	<article class='divide-y divide-color'>
		<div class='flex items-center justify-between h-14'>
			<h4 class='text-color font-blinker text-lg'>Nivel de bateria</h4>
			<span class='flex items-center gap-2'>
				<h4 class='text-color font-blinker text-lg'>60%</h4>
				<img src='/img/battery-2-icon.svg' alt='' />
			</span>
		</div>
		<div class='flex items-center justify-between h-14'>
			<h4 class='text-color font-blinker text-lg'>Alarma</h4>
			<Toggle id={'toggle-alarm'} />
		</div>
		<div class='flex items-center justify-between h-14'>
			<h4 class='text-color font-blinker text-lg'>Ubicación en tiempo real</h4>
			<Toggle id={'toggle-location'} />
		</div>
		<div class='flex items-center justify-between h-14'>
			<h4 class='text-color font-blinker text-lg'>Modo oscuro</h4>
			<Toggle id={'toggle-theme'} />
		</div>
		<div class='flex items-center w-72 justify-between h-14'>
			<h4 class='text-color font-blinker text-lg'>Descargar estadisticas</h4>
			<Button text='PDF' client:only />
		</div>
	</article>
</section>
