---
import ApexChartArea from './ApexChartArea.astro'
import ApexChartBar from './ApexChartBar.astro'
import Records from './Records.astro'
---

<section
	id='grafics'
	class='card flex py-4 px-8 flex-col items-center w-full bg-color sm:rounded-md border border-color'
>
	<h2 class='text-sabi text-2xl font-semibold font-blinker'>Estadisticas</h2>
	<Records />
	<article class='divide-y divide-color w-full'>
		<div class='flex flex-col items-center pt-6'>
			<h4 class='font-nunito font-bold text-gradient-purple text-lg'>Mes de junio</h4>
			<ApexChartArea />
		</div>
		<div class='flex flex-col items-center pt-6'>
			<h4 class='font-nunito font-bold text-gradient-green text-lg'>Mes de julio</h4>
			<ApexChartBar />
		</div>
	</article>
	<button class='flex items-center gap-3 hover:bg-semi-transparent px-4 py-2 rounded-md'>
		<h2 class='text-lg text-sabi font-nunito font-bold'>Ver más estadisticas</h2>
		<img src='/img/triangle-icon.svg' alt='' />
	</button>
</section>
