.card {
	@apply bg-white rounded-md border border-light-gray dark:bg-dark dark:border-dark-gray;
}
.card-form {
	@apply w-full flex flex-col p-10 my-10 md:my-20 mini:w-96 mx-auto bg-white rounded-md sm:border border-light-gray dark:bg-dark dark:border-dark-gray sm:shadow-rounded;
}
.img-size {
	@apply h-10 w-10;
}

.text-color {
	@apply text-black dark:text-white;
}

.border-color {
	@apply border-light-gray dark:border-dark-gray;
}

.bg-color {
	@apply bg-white dark:bg-dark;
}

.input-style {
	@apply w-full bg-transparent text-lg font-nunito p-2 border-2 rounded outline-none;
}

.fill-gray-color {
	@apply fill-light-gray dark:fill-dark-gray;
}

.fill-color {
	@apply fill-black dark:fill-white;
}

.toggle::after {
	content: '';
	width: 1rem;
	height: 1rem;
	background-color: white;
	border-radius: 9999px;
	position: relative;
	left: 0.1rem;
	box-shadow: 0px 2px 4px #00000025;
	transition: all 0.3s;
}

.gray-color {
	@apply bg-light-gray dark:bg-dark-gray;
}

.text-sabi {
	@apply bg-sabi text-transparent bg-clip-text;
}
.divide-color {
	@apply divide-light-gray dark:divide-dark-gray;
}

.text-gradient-green {
	@apply bg-gradient-green text-transparent bg-clip-text;
}
.text-gradient-red {
	@apply bg-gradient-red text-transparent bg-clip-text;
}
.text-gradient-orange {
	@apply bg-gradient-orange text-transparent bg-clip-text;
}
.text-gradient-purple {
	@apply bg-gradient-purple text-transparent bg-clip-text;
}

.gray-color-100 {
	@apply bg-white-100 dark:bg-dark-100;
}

.stroke-color {
	@apply stroke-black dark:stroke-white;
}
