---
import ApexChart from '../components/grafics/ApexChart.astro'
import CardGrafics from '../components/grafics/CardGrafics.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title='prueba'>
	<main class='min-h-screen'>
		<CardGrafics />
	</main>
</Layout>
