---
import CardSession from '../components/CardSession.astro'
import Header from '../components/Header.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title='SABI | Iniciar Sesión'>
	<Header />
	<main class='bg-color'>
		<CardSession />
	</main>
</Layout>
