---
export interface Props {
	text: string
}

const { text } = Astro.props
---

<button class='bg-sabi rounded px-4 py-1 hover:drop-shadow-secondary'>
	<span class='text-white font-blinker font-bold text-base text-center'>{text}</span>
</button>
