<button
	class='w-52 rounded-md bg-white flex gap-2 py-1 items-center justify-center shadow-rounded border border-light-gray'
>
	<img src='/img/google-icon.svg' alt='' /><h5 class='text-base font-nunito'>
		Sing in with Google
	</h5>
</button>
