<button
	class='w-52 rounded-md bg-github flex py-1 items-center justify-center gap-2 shadow-rounded border border-light-gray'
>
	<img src='/img/github-icon.svg' alt='' /><h5 class='text-base font-nunito text-white'>
		Sing in with GitHub
	</h5>
</button>
