---
export interface Props {
	text: string
}

const { text } = Astro.props
---

<button
	class='bg-sabi rounded p-[2px] flex justify-center items-center hover:drop-shadow-secondary'
>
	<div
		class='group/item px-4 py-2 rounded bg-white hover:bg-sabi hover:cursor-pointer dark:bg-dark'
	>
		<span
			class='group/edit group-hover/item:text-white font-nunito bg-clip-text text-transparent font-bold bg-sabi text-shadow text-lg'
			>{text}</span
		>
	</div>
</button>

<style>
	.text-shadow {
		text-shadow: 0px 0px 10px #0656d050;
	}
</style>
