<div id='opacity' class='absolute hidden z-[99] w-full h-screen bg-semi-transparent'>
	<div
		id='drop-down'
		class='-left-full top-0 w-full mini:w-80 h-screen absolute bg-white border-r border-light-gray transition-all'
	>
		<div
			class='w-full flex justify-between h-16 px-5 items-center border-b border-light-gray dark:bg-dark dark:border-dark-gray'
		>
			<img src='/img/sabi-icon.svg' alt='' class='h-8' />
			<h3 class='text-xl font-blinker bg-sabi bg-clip-text text-transparent font-bold text-shadow'>
				Inicio
			</h3>
			<img
				id='arrow-back-drop-down'
				src='/img/arrow-icon.svg'
				alt=''
				class='h-8 hover:cursor-pointer'
			/>
		</div>

		<ul class=''>
			<li class='flex justify-center py-3 hover:bg-light-gray hover:cursor-pointer'>
				<a href='#' class='text-xs font-nunito'>Mi SABI</a>
			</li>
			<li class='flex justify-center py-3 hover:bg-light-gray hover:cursor-pointer'>
				<a href='#' class='text-xs font-nunito'>Productos</a>
			</li>
			<li class='flex justify-center py-3 hover:bg-light-gray hover:cursor-pointer'>
				<a href='#' class='text-xs font-nunito'>Contacto</a>
			</li>
			<li class='flex justify-center py-3 hover:bg-light-gray hover:cursor-pointer'>
				<a href='#' class='text-xs font-nunito'>Acerca de</a>
			</li>
		</ul>
	</div>
</div>

<script>
	const dropDown = document.getElementById('drop-down')
</script>
