<header class="flex justify-between items-center h-16 bg-white dark:bg-dark dark:border-dark-gray border-b border-light-gray w-full px-5">
    <a href="#"><img src="/img/Arrow.svg" alt="icon-arrow" class="w-8 h-8 dark:invert "></a>
    <h3 class="text-lg font-blinker font-bold bg-sabi text-transparent bg-clip-text">Mi SABI</h3>
    <img src="/img/user_icon.svg" alt="user_icon" class="w-8 h-8">   
</header> 