<header class='flex justify-between items-center h-16 bg-color border-b border-color w-full px-5'>
	<a href='#'
		><img src='/img/arrow-icon.svg' alt='Icono de flecha' class='img-size dark:invert' /></a
	>
	<h2 class='text-2xl font-blinker font-bold text-sabi'>Mi SABI</h2>
	<img src='/img/user-icon.svg' alt='Icono usuario SABI' class='img-size drop-shadow-normal' />
</header>
