---
export interface Props {
	type: any
	text: string
}

const { type, text } = Astro.props
---

<div class='w-full relative'>
	<h6 class='text-sm text-color font-nunito'>{text}</h6>
	<input
		required
		type={type}
		placeholder={`Escriba su ${text.toLowerCase()}...`}
		class='w-full bg-transparent shadow-sm font-nunito p-2 text-sm border border-color valid:border-green-400 text-color rounded-md outline-none focus:border-secondary dark:focus:border-secondary'
	/>

</div>
