---
import DropDown from '../components/Dropdown.astro'
import UserMenu from './UserMenu.astro'
import Button from './Button.jsx'
import { HamburgerIcon } from './icons'
---

<DropDown />
<nav
	class='fixed bg-color z-[90] gap-5 top-0 left-0 w-full flex shadow-rounded justify-between items-center h-16 px-5 border-b border-color md:justify-start'
>
	<img src='/img/sabi-icon.svg' alt='logo_sabi' class='hidden h-8 lg:block' />
	<div class='h-8 dark:invert hover:cursor-pointer lg:hidden'>
		<HamburgerIcon />
	</div>

	<h4 class='text-xl font-blinker bg-sabi bg-clip-text text-transparent font-bold text-shadow'>
		SABI
	</h4>
	<ul class='hidden lg:flex h-full'>
		<li
			class='flex justify-center items-center h-full px-10 hover:bg-gray-100 dark:hover:bg-dark-gray hover:cursor-pointer'
		>
			<a href='#' class='text-base text-color font-nunito'>Productos</a>
		</li>
		<li
			class='flex justify-center items-center h-full px-10 hover:bg-gray-100 dark:hover:bg-dark-gray hover:cursor-pointer'
		>
			<a href='#' class='text-base text-color font-nunito'>Contacto</a>
		</li>
		<li
			class='flex justify-center text-color items-center h-full px-10 hover:bg-gray-100 dark:hover:bg-dark-gray hover:cursor-pointer'
		>
			<a href='#' class='text-base text-color font-nunito'>Acerca de</a>
		</li>
	</ul>

	<div class='hidden md:block ml-auto'>
		<Button text='Mi SABI' href='/misabi' client:only />
	</div>
	<UserMenu />
</nav>

<script>
	const dropDown = document.getElementById('drop-down')
	const hamburgerButton = document.getElementById('hamburger-button')
	const arrowBackDropDown = document.getElementById('arrow-back-drop-down')
	const opacity = document.getElementById('opacity')

	hamburgerButton.addEventListener('click', () => {
		dropDown.classList.add('left-0')
		dropDown.classList.remove('-left-full')
		opacity.classList.toggle('hidden')
	})

	arrowBackDropDown.addEventListener('click', () => {
		dropDown.classList.add('-left-full')
		dropDown.classList.remove('left-0')
		opacity.classList.toggle('hidden')
	})
</script>
