---
const Users = [
	{
		id: '1',
		name: 'pepe',
		email: 'pepe@email.com',
		pass: '1234'
	},
	{
		id: '2',
		name: 'manuel',
		email: 'manuel@email.com',
		pass: '4531'
	},
	{
		id: '3',
		name: 'carlos',
		email: 'carlos@email.com',
		pass: '0000'
	},
	{
		id: '4',
		name: 'matias',
		email: 'matias@email.com',
		pass: 'contraseña'
	},
	{
		id: '5',
		name: 'juan',
		email: 'juan@email.com',
		pass: 'juan'
	}
]
---

<table id='table' class='w-[50rem] drop-shadow rounded'>
	<tr class='bg-sabi'>
		<th class='text-white font-blinker'>ID</th>
		<th class='text-white font-blinker'>Nombre</th>
		<th class='text-white font-blinker'>Email</th>
		<th class='text-white font-blinker'>Contraseña</th>
		<th></th>
		<th></th>
	</tr>

	{
		Users.map((user, index) => (
			<tr class={index % 2 ? 'gray-color-100' : 'bg-color'}>
				<th class='text-color font-nunito font-bold'>{user.id}</th>
				<th class='text-color font-nunito font-medium'>{user.name}</th>
				<th class='text-color font-nunito font-medium'>{user.email}</th>
				<th class='text-color font-nunito font-medium'>{user.pass}</th>
				<th class='text-color font-nunito font-medium'><button class="w-full py-1 hover:bg-gray-200 dark:hover:bg-gray-700">Borrar</button></th>
				<th class='text-color font-nunito font-medium'><button class="w-full py-1 hover:bg-gray-200 dark:hover:bg-gray-700">Editar</button></th>
			</tr>
		))
	}
</table>

<script></script>
