---
import Button from '../../components/Button'
import Navbar from '../../components/Navbar.astro'
import Layout from '../../layouts/Layout.astro'
import { Search } from './components/Search'
import Table from './components/Table.astro';

---

<Layout title="SABI | Admin Dashboard">
  <Navbar/>
  <main class="w-full min-h-screen flex justify-center items-center">
    <section class="flex flex-col gap-3">
      <div class="flex justify-between">
        <Search/>
        <Button text='Agregar Usuario +' />
      </div>
      <Table/>
    </section>
  </main>
</Layout>
